<div *ngIf="product">
  <div class="product-container">
    <div class="product-details-item">
      <div class="product-details-container">
        <div style="display: flex">
          <div>
            <div class="product-details-image-placeholder">
              <mat-icon class="icon-size">image</mat-icon>
            </div>
          </div>
          <div>
            <div class="product-header">{{ product.name }}</div>
            <div style="display: flex">
              <app-star-rating
                [selectedStar]="product.rating"
              ></app-star-rating>
              <div style="font-weight: bold; margin-left: 10px">
                5841 Reviews
              </div>
            </div>
            <div class="product-full-description">
              {{ product.fullDescription }}
            </div>
          </div>
        </div>
        <div class="cart-control">
          <div>
            <div class="product-condition-badge">{{ product.condition }}</div>
            <div class="product-price">{{ product.price + "$" }}</div>
            <div *ngIf="product.quantity; else outOfStock">
              <div class="in-stock-badge">This product is in stock.</div>
            </div>
            <div class="delivery-time" *ngIf="product.quantity">
              Delivery within {{ product.deliveryTime }} day(s).
            </div>
            <ng-template #outOfStock
              ><div class="out-of-stock-badge">
                We're sorry, but this product is out of stock.
              </div></ng-template
            >
            <mat-form-field>
              <mat-label>Quantity</mat-label>
              <mat-select
                [(ngModel)]="selectedQuantity"
                [disabled]="!product.quantity"
              >
                <mat-option
                  *ngFor="let quantity of quantityArray"
                  [value]="quantity"
                >
                  {{ quantity }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button
            mat-flat-button
            color="primary"
            [disabled]="!product.quantity"
          >
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="shopping-cart-container">
  <a mat-stroked-button color="primary" routerLink="/shopping-cart/"
    ><mat-icon>shopping_cart</mat-icon> Go to Shopping-Cart
  </a>
</div>
