<div ngClass="container">
  <div class="header">Shopping-Cart</div>
  <div class="flex" *ngIf="products.length">
    <table>
      <thead>
        <tr>
          <th>Products</th>
          <th></th>
          <th>Quantity</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>Product Image</td>
          <td>{{ product.name }}</td>
          <td>{{ product.quantityInShoppingCart }}</td>
          <td>{{ product.price }}</td>
          <td class="icon" (click)="deleteProduct(product)">
            <mat-icon>close</mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="cart-control">
      <div>Total Price</div>
      <div>Payment Options</div>
      <div>Delivery Address</div>
      <div>Delivery within 1-2 day(s)</div>
      <button mat-flat-button color="primary">Checkout</button>
    </div>
  </div>
  <div *ngIf="!products.length" class="no-products">
    <span>Your shopping-cart is empty...</span>
    <span><mat-icon>shopping_basket</mat-icon></span>
  </div>
</div>
