.container {
  background-color: #fff;
  margin: 0 auto; /* Center the content horizontally */
  max-width: 995px;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.header {
  background-color: var(--accent-color);
  color: var(--headline-color);
  height: 35px;
  font-size: 16px;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  margin-bottom: 20px;
  /* Set text centered vertically */
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
}

th {
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

td {
  padding-top: 10px;
  text-align: left;
}

.products {
  display: flex;
  align-items: center;
}

.product-details-image-placeholder {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 75px;
  border-radius: 5px;
  margin-right: 20px;
}

.icon {
  text-align: right;
  padding-right: 0px;
  cursor: pointer;
  color: darkred;
}

.icon:hover {
  color: red;
}

.no-products {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-style: italic;
  color: gray;
  margin: 10px 0px 10px 0px;
}

.no-products mat-icon {
  font-size: 150px;
  width: 150px;
  height: 150px;
  color: lightgray;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #ddd;
  padding-top: 15px;
  margin: 15px 0px 15px 0px;
}

.total-price {
  font-weight: bold;
  font-size: large;
  margin-right: 20px;
}
