.container {
  margin: 0 auto; /* Center the content horizontally */
  max-width: 995px;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.header {
  background-color: purple;
  color: white;
  height: 35px;
  font-size: 20px;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  margin-bottom: 20px;
  /* Set text centered vertically */
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
}

th {
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

td {
  padding-top: 10px;
  padding-right: 50px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.cart-control {
  width: 250px;
  border-left: 1px solid #ddd;
  margin-left: 40px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
