<!-- navigation -->
<div class="toolbar">
  <div class="toolbar-desktop">
    <div>
      <a routerLink="/home/" routerLinkActive="toolbar-btn-active"
        ><mat-icon fontIcon="home"></mat-icon
      ></a>
      <a routerLink="/product-finder-app/" routerLinkActive="toolbar-btn-active"
        >Product-Finder App</a
      >
      <a routerLink="/chatbot-app/" routerLinkActive="toolbar-btn-active"
        >Chatbot App</a
      >
      <a
        routerLink="/qr-code-generator-app/"
        routerLinkActive="toolbar-btn-active"
        >QR-Code Generator App</a
      >
      <a routerLink="/todo-app/" routerLinkActive="toolbar-btn-active"
        >Todo App</a
      >
    </div>
  </div>
  <div class="toolbar-mobile">
    <a routerLink="/home/"><mat-icon fontIcon="home"></mat-icon></a>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="mat-menu">
      <button mat-menu-item>
        <mat-icon [ngStyle]="{ color: 'white' }">category</mat-icon>
        <span><a routerLink="/product-finder-app/">Product-Finder App</a></span>
      </button>
      <button mat-menu-item>
        <mat-icon [ngStyle]="{ color: 'white' }">smart_toy</mat-icon>
        <span><a routerLink="/chatbot-app/">Chatbot App</a></span>
      </button>
      <button mat-menu-item>
        <mat-icon [ngStyle]="{ color: 'white' }">qr_code</mat-icon>
        <span
          ><a routerLink="/qr-code-generator-app/"
            >QR-Code Generator App</a
          ></span
        >
      </button>
      <button mat-menu-item>
        <mat-icon [ngStyle]="{ color: 'white' }">list_alt</mat-icon>
        <span><a routerLink="/todo-app/">Todo App</a></span>
      </button>
    </mat-menu>
  </div>
</div>

<!-- main -->
<div class="main">
  <router-outlet></router-outlet>
</div>
