<!-- navigation -->
<div class="toolbar">
  <div>
    <a routerLink="/home/" routerLinkActive="toolbar-btn-active"
      ><mat-icon fontIcon="home"></mat-icon
    ></a>
    <a routerLink="/product-finder-app/" routerLinkActive="toolbar-btn-active"
      >Product-Finder App</a
    >
    <a routerLink="/chatbot-app/" routerLinkActive="toolbar-btn-active"
      >Chatbot App</a
    >
    <a
      routerLink="/qr-code-generator-app/"
      routerLinkActive="toolbar-btn-active"
      >QR-Code Generator App</a
    >
    <a routerLink="/todo-app/" routerLinkActive="toolbar-btn-active"
      >Todo App</a
    >
  </div>
</div>

<!-- main -->
<div class="main">
  <router-outlet></router-outlet>
</div>
