<div class="chat-container">
  <div class="banner-container">Service Chatbot Example</div>
  <div class="message-container" *ngFor="let message of messages">
    <!-- the chats are generated in the chatbot-message component -->
    <chatbot-message [message]="message"></chatbot-message>
  </div>
  <div class="input-container">
    <input
      [(ngModel)]="userMessage"
      placeholder="Type your message..."
      (keyup.enter)="sendMessage()"
    />
    <button [disabled]="userMessage.length === 0" (click)="sendMessage()">
      Send
    </button>
    <button
      class="reset-button"
      [disabled]="messages.length <= 1"
      (click)="resetConversation()"
    >
      <mat-icon>restart_alt</mat-icon>
    </button>
  </div>
</div>
