.chat-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.banner-container {
  background-color: orangered;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.input-container {
  display: flex;
  margin-top: 10px;
}

input {
  flex: 1;
  padding: 10px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}

button {
  padding: 10px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ccc;
  cursor: default;
}

button.reset-button {
  background-color: #ff9800;
  margin-left: 8px;
  padding: 5px;
}

button.reset-button:hover {
  background-color: #cb7a00;
}

button.reset-button:disabled {
  background-color: #ccc;
  cursor: default;
}
