<!-- search field -->
<div class="search-field-container">
  <mat-form-field class="search-field">
    <mat-label>Search for your product...</mat-label>
    <input
      matInput
      placeholder="Ex. iPhone"
      [(ngModel)]="customerProductSearch"
      (ngModelChange)="clearField()"
      (keyup.enter)="searchProduct()"
    />

    <button
      *ngIf="customerProductSearch"
      mat-icon-button
      matSuffix
      (click)="resetProductSearch()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <button
      *ngIf="customerProductSearch"
      mat-icon-button
      matSuffix
      (click)="searchProduct()"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="search-field-container">
  Input-Value: {{ customerProductSearch }}
</div>

<!-- product container -->
<!-- show all products -->
<div
  class="card-list-container"
  *ngIf="showErrorScreen === false && searchingForProduct === false"
>
  <div class="card" *ngFor="let product of products">
    <div class="card-header">
      {{ product.name }}
    </div>
    <div class="card-body-image-placeholder">
      <mat-icon class="icon-size">image</mat-icon>
    </div>
    <div class="card-body-text">
      {{ product.description }}
    </div>
    <div class="card-body-price">
      {{ product.price + "$" }}
    </div>
  </div>
</div>

<!-- show only the products that match the search -->
<div *ngIf="foundProducts.length > 0">
  <div
    class="card-list-container"
    *ngIf="showErrorScreen === false && searchingForProduct === true"
  >
    <div class="card" *ngFor="let product of foundProducts">
      <div class="card-header">
        {{ product.name }}
      </div>
      <div class="card-body-image-placeholder">
        <mat-icon class="icon-size">image</mat-icon>
      </div>
      <div class="card-body-text">
        {{ product.description }}
      </div>
      <div class="card-body-price">
        {{ product.price + "$" }}
      </div>
    </div>
  </div>
</div>

<!-- error message if no product matches the search -->
<div class="error-container center" *ngIf="showErrorScreen === true">
  Sorry, but we don't offer this product.
</div>

<!-- product list horizontal -->
<div class="product-list-container">
  <div class="product-list-item" *ngFor="let product of products">
    <div class="product-container">
      <div class="product-image-placeholder">
        <mat-icon class="icon-size">image</mat-icon>
      </div>
      <div>
        <div class="product-header">{{ product.name }}</div>
        <app-star-rating
          [selectedStar]="product.rating"
          (ratingClicked)="onRatingClicked($event)"
        ></app-star-rating>
        <div class="product-description">{{ product.description }}</div>
        <div class="product-body-price">{{ product.price + "$" }}</div>
      </div>
    </div>
  </div>
</div>
