.qrcode-container {
  text-align: center;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.banner-container {
  background-color: var(--accent-color);
  color: var(--headline-color);
  font-weight: bold;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.qrcode-image {
  padding: 30px;
}

.qrcode-placeholder .mat-icon {
  font-size: 275px;
  width: 275px;
  height: 275px;
  color: lightgray;
}

.input-url {
  width: 250px;
  height: 25px;
}

.hidden-input {
  display: none;
}

input {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  font-size: 14px;
  width: 200px;
}

.file-input-container {
  padding: 5px;
}

.action-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

button {
  padding: 10px 16px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
  height: 50px;
}

button:hover {
  background-color: var(--primary-color-hover);
}

button:disabled {
  background-color: #ccc;
  cursor: default;
}

mat-icon {
  color: white;
}

.choose-file-button {
  color: white;
  font-size: 12px;
  font-weight: lighter;
}

.reset-button {
  background-color: var(--accent-color);
}

.reset-button:hover {
  background-color: var(--accent-color-hover);
}

.reset-button:disabled {
  background-color: #ccc;
  cursor: default;
}
