/* You can add global styles to this file, and also import other style files */

body {
  max-width: 1000px;
  margin: 0 auto; /* Center the content horizontally */
  overflow-y: scroll; /* Force scrollbar always so it doesn't affect the width layout of the website when switching between sites with and without scrollbar */
}

.mat-icon {
  vertical-align: middle;
}
