<div
  class="message"
  [ngClass]="{
    'user-message': message.fromUser,
    'bot-message': !message.fromUser
  }"
>
  <div class="icon-container" *ngIf="message.fromUser">
    <div class="user-icon">👤</div>
  </div>
  <div class="icon-container" *ngIf="!message.fromUser">
    <div class="bot-icon">🤖</div>
  </div>
  <div class="message-content">
    {{ message.text }}
    <div
      class="timestamp"
      [ngClass]="{
        'user-message': message.fromUser,
        'bot-message': !message.fromUser
      }"
    >
      {{ message.timestamp | date : "HH:mm:ss" }}
    </div>
  </div>
</div>
